{% extends "homepage.html" %}

{% block title %}
    Compare Products
{% endblock %}

{% block main %}
<div class="container">
  <div class="rounded">
    <form action="/compare" method="post">
        <div class="mb-3">
          <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="product1" placeholder="Product" type="text">
          <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="product2" placeholder="Product" type="text">
          <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="product3" placeholder="Product (Optional)" type="text">
          <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="product4" placeholder="Product (Optional)" type="text">
          <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="product5" placeholder="Product (Optional)" type="text">
          <p class="fallbackLabel" ><br>Enter Start Date (Optional):</p>
          <div class="fallbackDatePicker">
            <span>
              <label for="start_month">Month:</label>
              <select name="start_month">
                  {% for i in range(1,13) %}
                  {% if i < 10 %}
                  <option>0{{i}}</option>
                  {% else %}
                  <option>{{i}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
            </span>
            <span>
              <label for="start_day">Day:</label>
              <select name="start_day">
                  {% for i in range(1,32) %}
                  {% if i < 10 %}
                  <option>0{{i}}</option>
                  {% else %}
                  <option>{{i}}</option>
                  {% endif %}
                  {% endfor %}
            </span>
              </select>
            </span>
            <span>
              <label for="start_year">Year:</label>
              <select name="start_year">
                  {% for i in range (2021, 2018, -1) %}
                  <option>{{i}}</option>
                  {% endfor %}
              </select>
            </span>
            <p class="fallbackLabel" ><br>Enter End Date (Optional):</p>
            <span>
              <label for="end_month">Month:</label>
              <select name="end_month">
                  {% for i in range(1,13) %}
                  {% if i < 10 %}
                  <option>0{{i}}</option>
                  {% else %}
                  <option>{{i}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
            </span>
            <span>
              <label for="end_day">Day:</label>
              <select name="end_day">
                  {% for i in range(1,32) %}
                  {% if i < 10 %}
                  <option>0{{i}}</option>
                  {% else %}
                  <option>{{i}}</option>
                  {% endif %}
                  {% endfor %}
              </select>
            </span>
            <span>
              <label for="end_year">Year:</label>
              <select name="end_year">
                  {% for i in range (2021, 2018, -1) %}
                  <option>{{i}}</option>
                  {% endfor %}
              </select>
            </span>
            </div>
        </div>
          <button class="btn btn-primary" type="submit">Compare Products</button>
    </form>
    </div>
    {% if product_list and cost and price and revenue and margin and sold_per_day and lead_time %}
    <table class="table table-striped">
      <tbody>
        <tr>
          <td></td>
          {% for product in product_list %}
          <th>{{product}}</th>
          {% endfor %}
        </tr>
        <tr>
          <th>Cost($)</th>
          {% for product_cost in cost %}
          <td>{{"${:,.2f}".format(product_cost)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Price($)</th>
          {% for product_price in price %}
          <td>{{"${:,.2f}".format(product_price)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Revenue($)</th>
          {% for product_rev in revenue %}
          <td>{{"${:,.2f}".format(product_rev)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Margin(%)</th>
          {% for product_margin in margin %}
          <td>{{"{:,.2f}".format(product_margin * 100)}}%</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Sold Per Day(Items)</th>
          {% for product_spd in sold_per_day %}
          <td>{{"{:,.2f}".format(product_spd)}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Lead Time(Days)</th>
          {% for product_ld in lead_time %}
          <td>{{product_ld}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
</div>
{% endif %}
{% endblock %}